{% extends 'base.html' %}

{% block title %}
    <h1> {{ user.first_name }} {{ user.last_name }} </h1>
{% endblock %}

{% block content %}

<p>{{ user.email }}</p>
<p>Your username is {{ user.username }}</p>

<h2>Notes</h2>

<ul>
    {% for note in user.notes %}
        <li> Title: {{ note.title }}
             Content: {{ note.content }}
             Owner: {{ note.owner }}

             <a href="/notes/{{ note.id }}/update">
                 <button type="button">Edit Note</button>
             </a>

             <form id="delete-note" method="POST" action="/notes/{{ note.id }}/delete">
                 <button type="submit">Delete Note</button>
            </form>
        </li>
    {% endfor %}
</ul>

<a href="/users/{{ user.username }}/notes/add">
    <button type="button">Add Note</button>
</a>

<form id="delete-user" method="POST" action="/users/{{ user.username }}/delete">
    <button type="submit">Delete User</button>
</form>


{% endblock %}